@model IEnumerable<CitizensComplaintPortal.Models.Complaint>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
<h2>Welcome to Greater Hyderabad Municipal Corporation</h2>


<div class="panel panel-body">
    The Greater Hyderabad Municipal Corporation (GHMC) is the civic body that oversees Hyderabad, the capital and largest city in the Indian state of Telangana. It is the local government for the cities of Hyderabad and Secunderabad. Its geographical area covers most of the urban development agency the Hyderabad Metropolitan Development Authority (HMDA). 64 ex-officio members including 5 Lok Sabha MPs whose constituencies are in GHMC jurisdiction vote in GHMC election.
</div>



@*<div class="panel">
    <a href="/TeamLeader" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Municipal Corporation - Team Leader</a>
</div>*@

@*<div class="panel">
    <a href="/Helper" class="btn btn-primary btn-lg disabled" role="button" aria-pressed="true">Municipal Corporation - Helper</a>
</div>*@
